In [1]:
a = "Sachin Tendulkar"

print(a.split("a"))
print(a.split("a",1))

['S', 'chin Tendulk', 'r']
['S', 'chin Tendulkar']

In [2]:
print(a.count("a"))

2

In [4]:
print(a.replace("a","$"))
print(a.replace(
    
    
    
    
    
    
a = "test"

    print(type(a))
    <class 'str'>

SyntaxError: '(' was never closed (2087640261.py, line 2)

In [5]:
print(isinstance)(a,str))

SyntaxError: unmatched ')' (4267361334.py, line 1)

In [6]:
print(isinstance(a,str)

SyntaxError: incomplete input (3764416047.py, line 2)

In [7]:
print(isinstance(a,str))

True

In [8]:
input()
jgjhg

'jgjhg'

NameError: name 'jgjhg' is not defined

In [9]:
a = input("enter your name")

enter your namenameskdjwvm

In [10]:
print(a)

nameskdjwvm

In [12]:
a = "123"
b = 123
print(isinstance(a,1,2,3)

SyntaxError: incomplete input (3105191945.py, line 3)

In [13]:
a = '123'
b = int(a)
print(type(b))

<class 'int'>

In [15]:
a = "test"
b = int(a)
print(type(a))
print(type(b))

ValueError: invalid literal for int() with base 10: 'test'

In [16]:
#list
a = ["dinesh" , "20" , "chennai"],["dinesh" , "20" , "chennai"],["dinesh" , "20" , "chennai"]
#min , max , sorted , len , type , isinstance , reverse the list

In [17]:
print(min(a))
print(max(a))
print(sorted(a))
print(type(a))
print(max(a))

['dinesh', '20', 'chennai']
['dinesh', '20', 'chennai']
[['dinesh', '20', 'chennai'], ['dinesh', '20', 'chennai'], ['dinesh', '20', 'chennai']]
<class 'tuple'>
['dinesh', '20', 'chennai']

In [18]:
a = ["dinesh" , 20 , "chennai"]
print

In [19]:
a = ["dinesh" , 20 , "chennai"]
print(sorted(a))
#list

TypeError: '<' not supported between instances of 'int' and 'str'

In [21]:
#inserting the value in the last
a.append("test")
print(a)

['dinesh', 20, 'chennai', 'test']

In [23]:
a.insert(2,"demo")
print(a)
#insert places the value at the specific place

['dinesh', 20, 'demo', 'demo', 'chennai', 'test']

In [25]:
a.remove("test")
print(a)
#removes the specific value

['dinesh', 20, 'demo', 'demo', 'chennai']

In [26]:
del a[2]
print(a)

['dinesh', 20, 'demo', 'chennai']

In [27]:
del a[2]
print(a)
#deletes the specific value

['dinesh', 20, 'chennai']

In [28]:
b = a.pop()
print(a)
print(b)
# basically brings the last variable to the value assigned to 'a'

['dinesh', 20]
chennai

In [29]:
#shallow copy
a = [1,2,3]
b=a
a.append(4)
print(a)
print(b)
#append inserts the value of a into b

[1, 2, 3, 4]
[1, 2, 3, 4]

In [30]:
#deep copy
a = [1,2,3]
b = a.copy()
a.append(4)
print(a)
print(b)
#deep copy important command a.copy()

[1, 2, 3, 4]
[1, 2, 3]

In [31]:
a = [1,2,3]
b = [4,5,6]
a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

In [32]:
#extend
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)
#basically extends the string in a order by inserting te other string

[1, 2, 3, 4, 5, 6]

In [33]:
a = ("hi" , "hello" , "welcome")
print(type(a))
print(min(a))
print(max(a))
print(sorted(a))

<class 'tuple'>
hello
welcome
['hello', 'hi', 'welcome']

In [38]:
# get number a input from user and check data type 
# a = "test@gmail.com",test -- gmail
# ["hi" , "hello" , "welcome"] -- > e


a = "1,2,3"
a = int(input("enter a number"))

enter a number1

In [42]:

a = int(input("enter a number"))

enter a number1

In [43]:


print(type(a))

<class 'int'>